.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background: rgb(255, 133, 133);
}

.active {
  color: white;
  margin: 100px;
  padding: 100px;
  display: inline;
  padding-left: 50px;
}

.kitkats {
  border: solid 1px black;
  width: 150px;
  margin: 10px;
  text-align: center;
  background: rgb(102, 143, 219);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.form1 {
  background-color: rgb(175, 215, 248);
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 50px;
  background-image: url(https://thumbs.dreamstime.com/b/kit-kat-chocolate-bars-red-wrapping-lies-yellow-background-created-rowntree-s-york-united-kingdom-ny-usa-december-168037840.jpg);
  height: 500px;
}
